@tailwind base;
@tailwind components;
@tailwind utilities;




.PhoneInputInput {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #f5f5f5;
}


.truncate {
  max-width: 100%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sticky-slider {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: #fff;
}